Meri_Finance_Bot_2 (1).json
{
  "name": "Meri Finance Bot 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1460,
        30
      ],
      "id": "7fe2827b-956a-4e20-9e17-d33a80699f11",
      "name": "Telegram Trigger",
      "webhookId": "ce977530-8e2e-42cd-8f22-e9593e0ea251",
      "credentials": {
        "telegramApi": {
          "id": "4NiIfXOZgCa7It6G",
          "name": "Meri Finance Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah Meriana.\n\nHalo! Aku Meriana, tapi kamu bisa panggil aku Meri 😊 Aku adalah bagian dari tim finance SaranaTech yang bertugas untuk membantu kamu merekap dan merapikan bukti pembayaran seperti receipt atau invoice. Tugas utama Meri adalah menangani dokumen-dokumen pembayaran agar datanya bisa langsung dirapikan dan masuk ke rekap keuangan internal. \n\nCara kerja Meri sangat simpel dan cepat, cukup ikuti 3 langkah mudah ini: pertama, pilih dokumen receipt atau invoice kamu dalam bentuk foto atau PDF yang jelas dan terbaca. Kedua, upload langsung di sini ya, bisa kirim satu atau beberapa file sekaligus. Ketiga, setelah berhasil dikirim, kamu bisa cek spreadsheet recap yang akan Meri update otomatis—semua datanya sudah Meri rangkum rapi di sana 📊✅\n\nKalau file kamu berupa PDF, Meri akan langsung proses pakai alat `document_processing`. Kalau file kamu berupa gambar (seperti JPG atau PNG), Meri akan pakai `image_processing`. Prosesnya otomatis, jadi kamu nggak perlu verifikasi ulang—begitu file masuk, Meri langsung kerja 💼✨\n\nSedikit tips dari Meri nih! Selalu simpan bukti transaksi digital minimal 3 bulan ke belakang untuk jaga-jaga audit atau laporan bulanan. Kalau bisa, beri nama file yang konsisten seperti `INV_NamaClient_Tanggal.pdf`, biar gampang dicari. Dan jangan lupa, pantau cash flow mingguan kamu—transaksi kecil kalau diabaikan bisa ngaruh besar ke laporan akhir bulan 😅\n\nYuk, upload dokumen kamu sekarang. Meri standby bantu rekap, biar keuangan kamu makin aman dan rapi 📬✨\n\nPeriksa {{ $json.message.text }} atau {{ $('Telegram Trigger').item.json.message.caption }}\n\nlalu balas dengan ramah jika user sudah mengirim atau membalas chatmu.",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1020,
        230
      ],
      "id": "d141915d-ab9e-4764-9610-8831d5fbc683",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        450
      ],
      "id": "2e64e4af-8042-4ac3-9070-2716cc63bf2b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -872,
        450
      ],
      "id": "fc866fa5-3446-44eb-803e-5aeec3eca4eb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -644,
        230
      ],
      "id": "31f2d0bf-3651-487b-a4da-76df7b4bf5d5",
      "name": "Telegram",
      "webhookId": "543eb188-e540-4352-b162-6bc64e94f862",
      "credentials": {
        "telegramApi": {
          "id": "4NiIfXOZgCa7It6G",
          "name": "Meri Finance Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        16,
        -320
      ],
      "id": "79cebe8f-c249-4e58-bf3c-d79e9a48ffcc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        612,
        -320
      ],
      "id": "dca15294-fb05-477e-8140-dc3ee1d191b9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE",
          "mode": "list",
          "cachedResultName": "receipt OCR extraction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Price": "={{ $json.unit_price }}",
            "QTY": "={{ $json.quantity }}",
            "Total Invoice": "={{ $json.total }}",
            "Tax Witheld": "={{ $json.tax_witheld }}",
            "Due Date": "={{ $('Qualifier PDF').item.json.message.content.due_date }}",
            "Invoice Date": "={{ $('Qualifier PDF').item.json.message.content.invoice_date }}",
            "Invoice Number": "={{ $('Qualifier PDF').item.json.message.content.invoice_number }}",
            "Payment Status": "={{ $('Qualifier PDF').item.json.message.content.payment_status }}",
            "Buyer Name": "={{ $('Qualifier PDF').item.json.message.content.buyer.name }}",
            "Buyer NPWP": "={{ $('Qualifier PDF').item.json.message.content.buyer.npwp }}",
            "Buyer Phone": "={{ $('Qualifier PDF').item.json.message.content.buyer.phone }}",
            "Buyer Email": "={{ $('Qualifier PDF').item.json.message.content.buyer.email }}",
            "Descriptions": "={{ $json.description }}",
            "PPN Amount": "={{ $json.ppn_amount }}",
            "PPN Rate (%)": "={{ $json.ppn_rate }}",
            "Discount": "={{ $json.discount_amount }}",
            "Disc Rate (%)": "={{ $json.discount_rate }}",
            "Down Payment": "={{ $json.downpayment_amount }}",
            "DP Rate (%)": "={{ $json.downpayment_rate }}",
            "Notes": "={{ $('Qualifier PDF').item.json.message.content.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Name",
              "displayName": "Buyer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer NPWP",
              "displayName": "Buyer NPWP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Phone",
              "displayName": "Buyer Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Email",
              "displayName": "Buyer Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descriptions",
              "displayName": "Descriptions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QTY",
              "displayName": "QTY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PPN Amount",
              "displayName": "PPN Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PPN Rate (%)",
              "displayName": "PPN Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax Witheld",
              "displayName": "Tax Witheld",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Disc Rate (%)",
              "displayName": "Disc Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Down Payment",
              "displayName": "Down Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DP Rate (%)",
              "displayName": "DP Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Invoice",
              "displayName": "Total Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        832,
        -320
      ],
      "id": "f8dd1e03-e56d-4afc-a706-52b21b7629f9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d9R7c6uQ3NDLgcbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7db75140-591b-443b-ae89-79a395008dc4",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document }}",
              "rightValue": "={{ $json.message.document.file_id }}",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7239057f-6be8-408f-ab45-14564018afdc",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -942,
        -120
      ],
      "id": "ffc92ba5-a17e-4470-9535-f48e3575fe0d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyNameComposite": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -424,
        -20
      ],
      "id": "4e25fdda-6680-41c7-8573-7d477847123d",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        612,
        80
      ],
      "id": "7ca64ec2-c699-4421-96a7-d5bdd087274d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -644,
        -20
      ],
      "id": "7b41fc57-4fd8-4f7b-aee0-ed2365098235",
      "name": "Get Image",
      "webhookId": "1218a367-114d-47f7-909e-45cc3d483bfd",
      "credentials": {
        "telegramApi": {
          "id": "4NiIfXOZgCa7It6G",
          "name": "Meri Finance Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -204,
        -320
      ],
      "id": "65db79d1-8b14-4310-bda4-02b887125099",
      "name": "Get PDF",
      "webhookId": "1218a367-114d-47f7-909e-45cc3d483bfd",
      "credentials": {
        "telegramApi": {
          "id": "4NiIfXOZgCa7It6G",
          "name": "Meri Finance Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gambar\n\n* masih belum valid per-line (karna ngambil katanya ngasal)\n",
        "height": 220,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        280
      ],
      "typeVersion": 1,
      "id": "7a4fdc34-5ec9-4d37-8939-b329b603a11f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI Agent\n\n* ini masih belom bener flownya (masa ngaplod tapi responnya setelah ngaplod kaya ga ngaplod)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1580,
        280
      ],
      "typeVersion": 1,
      "id": "6f94f480-20c4-4a0e-b3c7-e3f44af90775",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Tolong munculkan semua text dalam gambar ini. pastikan tidak ada yang terlewat termasuk singkatan untuk pajak (PPN, PPH).\n\nAku mau kamu mengklasifikasikan file tersebut sebagai salah satu dari dua kategori berikut: 'invoice' (dokumen penagihan) atau 'receipt' (kwitansi/bukti pembayaran). \n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -204,
        -20
      ],
      "id": "fbad3aba-c91f-44d3-85b2-16733560b89e",
      "name": "OCR Agent",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "kamu adalah bot finance pintar yang bisa mengambil JSON data dari invoice / receipt / bukti pembayaran.",
              "role": "system"
            },
            {
              "content": "=Ini adalah dokumen dimana kamu bisa mengambil data:\n {{ $json.text }}"
            },
            {
              "content": "=Tampilkan hasil ekstraksi data dalam bentuk JSON sesuai format berikut untuk masing-masing kategori:\n\n{\n  \"document_type\": \"invoice\",\n  \"invoice_number\": \"INV/2025/05/001\",\n  \"invoice_date\": \"2025-05-26\",\n  \"due_date\": \"2025-06-02\",\n  \"seller\": {\n    \"name\": \"PT Sukses Makmur\",\n    \"npwp\": \"01.234.567.8-999.000\",\n    \"address\": \"Jl. Merdeka No. 45, Jakarta, Indonesia\",\n    \"phone\": \"+62 812 3456 7890\",\n    \"email\": \"info@suksesmakmur.co.id\"\n  },\n  \"buyer\": {\n    \"name\": \"PT Aman Sentosa\",\n    \"npwp\": \"02.345.678.9-888.000\",\n    \"address\": \"Jl. Sudirman No. 10, Bandung, Indonesia\",\n    \"phone\": \"+62 812 9876 5432\",\n    \"email\": \"finance@amansentosa.co.id\"\n  },\n  \"items\": [\n    {\n      \"description\": \"Jasa Konsultasi IT\",\n      \"quantity\": 1,\n      \"unit_price\": 10000000,\n      \"downpayment_rate\": 0,\n      \"downpayment_amount\": 0,\n      \"discount_rate\": 0,\n      \"discount_amount\": 0,\n      \"ppn_rate\": 0.11,\n      \"ppn_amount\": 1100000,\n      \"pph_type\": \"PPh 23\",\n      \"pph_rate\": 0.02,\n      \"tax_witheld\": \"Buyer\",\n      \"pph_amount\": 200000,\n      \"total\": 10900000\n    },\n    {\n      \"description\": \"Pengembangan Website\",\n      \"quantity\": 1,\n      \"unit_price\": 15000000,\n      \"discount_rate\": 0.1,\n      \"discount_amount\": 1500000,\n      \"ppn_rate\": 0.11,\n      \"ppn_amount\": 1485000,\n      \"pph_type\": \"PPh 23\",\n      \"pph_rate\": 0.02,\n      \"pph_amount\": 270000,\n      \"total\": 15135000\n    }\n  ],\n  \"subtotal\": 26035000,\n  \"total_amount\": 26035000,\n  \"amount_due\": 26035000,\n  \"payment_status\": \"Belum Lunas\",\n  \"notes\": \"PPh 23 ditanggung oleh pembeli dan akan diterbitkan bukti potong.\"\n}\n\n\n\n\nJika terdapat input yang kosong pada text maka kirimkan data \"null\" pada setiap input yang kosong.\n",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        236,
        -320
      ],
      "id": "2d24113b-945b-4e51-95fc-80d7bfe8512a",
      "name": "Qualifier PDF",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "652815fa-9276-4532-9437-2da274cae4ee"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04765275-5e78-489d-ba4b-40cdce5002ea",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cacace03-3b98-42b5-b321-cb12efccad2c",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1240,
        30
      ],
      "id": "aa567a8d-6943-471a-9cef-a207b9415104",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "kamu adalah bot finance pintar yang bisa mengambil JSON data dari invoice.",
              "role": "system"
            },
            {
              "content": "=Ini adalah dokumen dimana kamu bisa mengambil data:\n{{ $json.content }}"
            },
            {
              "content": "=Tampilkan hasil ekstraksi data dalam bentuk JSON sesuai format berikut untuk masing-masing kategori:\n\n{\n  \"document_type\": \"invoice\",\n  \"invoice_number\": \"INV/2025/05/001\",\n  \"invoice_date\": \"2025-05-26\",\n  \"due_date\": \"2025-06-02\",\n  \"seller\": {\n    \"name\": \"PT Sukses Makmur\",\n    \"npwp\": \"01.234.567.8-999.000\",\n    \"address\": \"Jl. Merdeka No. 45, Jakarta, Indonesia\",\n    \"phone\": \"+62 812 3456 7890\",\n    \"email\": \"info@suksesmakmur.co.id\"\n  },\n  \"buyer\": {\n    \"name\": \"PT Aman Sentosa\",\n    \"npwp\": \"02.345.678.9-888.000\",\n    \"address\": \"Jl. Sudirman No. 10, Bandung, Indonesia\",\n    \"phone\": \"+62 812 9876 5432\",\n    \"email\": \"finance@amansentosa.co.id\"\n  },\n  \"items\": [\n    {\n      \"description\": \"Jasa Konsultasi IT\",\n      \"quantity\": 1,\n      \"unit_price\": 10000000,\n      \"downpayment_rate\": 0,\n      \"downpayment_amount\": 0,\n      \"discount_rate\": 0,\n      \"discount_amount\": 0,\n      \"ppn_rate\": 0.11,\n      \"ppn_amount\": 1100000,\n      \"pph_type\": \"PPh 23\",\n      \"pph_rate\": 0.02,\n      \"tax_witheld\": \"Buyer\",\n      \"pph_amount\": 200000,\n      \"total\": 10900000\n    },\n    {\n      \"description\": \"Pengembangan Website\",\n      \"quantity\": 1,\n      \"unit_price\": 15000000,\n      \"discount_rate\": 0.1,\n      \"discount_amount\": 1500000,\n      \"ppn_rate\": 0.11,\n      \"ppn_amount\": 1485000,\n      \"pph_type\": \"PPh 23\",\n      \"pph_rate\": 0.02,\n      \"pph_amount\": 270000,\n      \"total\": 15135000\n    }\n  ],\n  \"subtotal\": 26035000,\n  \"total_amount\": 26035000,\n  \"amount_due\": 26035000,\n  \"payment_status\": \"Belum Lunas\",\n  \"notes\": \"PPh 23 ditanggung oleh pembeli dan akan diterbitkan bukti potong.\"\n}\n\n\n\n\nJika terdapat input yang kosong pada text maka kirimkan data \"null\" pada setiap input yang kosong.\n",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        236,
        80
      ],
      "id": "7e49f188-d325-4a82-bb4d-a734366fca40",
      "name": "Image Invoice Process",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        612,
        -120
      ],
      "id": "843ab8a2-8efd-4074-bb0a-353f910dd3b7",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "kamu adalah bot finance pintar yang bisa mengambil JSON data dari receipt / bukti pembayaran. cari data khususnya data tempat dan tanggal pembayaran. pastikan data di cek per-baris dari atas ke bawah.",
              "role": "system"
            },
            {
              "content": "=Ini adalah dokumen dimana kamu bisa mengambil data:\n{{ $json.content }}"
            },
            {
              "content": "=Tampilkan hasil ekstraksi data dalam bentuk JSON sesuai format berikut untuk masing-masing kategori:\n\n{\n  \"document_type\": \"receipt\",\n  \"payer_name\": \"METRO CELL\",\n  \"payee_name\": \"GSOFT INDONESIA\",\n  \"payee_address\": \"JL. BANGKA 123 JEMBER 12345\",\n  \"payee_phone\": \"0331-123456\",\n  \"amount_paid\": 7000000,\n  \"items\": [\n    {\n      \"description\": \"Jasa Konsultasi IT\",\n      \"quantity\": 1,\n      \"unit_price\": 10000000,\n      \"total_debt\": 9031250,\n      \"total_installments\": 7000000,\n      \"remaining_debt\": 2031250,\n      \"status\": \"Belum Lunas\",\n      \"ppn_rate\": 0.11,\n      \"ppn_amount\": 1100000,\n      \"pph_type\": \"PPh 23\",\n      \"pph_rate\": 0.02,\n      \"tax_witheld\": \"Buyer\",\n      \"pph_amount\": 200000\n    }\n  ],\n  \"due_date\": \"2025-06-02\",\n  \"installment_date\": \"2025-06-02\",\n  \"invoice_number\": \"PJ20110119117\",\n  \"customer_number\": \"CST-METRO\",\n  \"taxes_ppn\": 0,\n  \"taxes_pph\": 0\n}\n\n\n\n\nJika terdapat input yang kosong pada text maka kirimkan data \"null\" pada setiap input yang kosong.\n",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        236,
        -120
      ],
      "id": "6e2b68b4-f6a6-4a0d-8759-111a0afe3a69",
      "name": "Image Receipt Process",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE",
          "mode": "list",
          "cachedResultName": "receipt OCR extraction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1256530911,
          "mode": "list",
          "cachedResultName": "Receipt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE/edit#gid=1256530911"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Due Date": "={{ $('Image Receipt Process').item.json.message.content.due_date }}",
            "Installment Date": "={{ $('Image Receipt Process').item.json.message.content.installment_date }}",
            "Invoice Number": "={{ $('Image Receipt Process').item.json.message.content.invoice_number }}",
            "Status": "={{ $json.status }}",
            "Payer Name": "={{ $('Image Receipt Process').item.json.message.content.payer_name }}",
            "Payer No": "={{ $('Image Receipt Process').item.json.message.content.customer_number }}",
            "Descriptions": "={{ $json.description }}",
            "QTY": "={{ $json.quantity }}",
            "Amount Paid": "={{ $json.unit_price }}",
            "Remaining Debt": "={{ $json.remaining_debt }}",
            "Pajak PPN": "={{ $('Image Receipt Process').item.json.message.content.taxes_ppn }}",
            "Pajak PPh": "={{ $('Image Receipt Process').item.json.message.content.taxes_pph }}",
            "Total Debt": "={{ $json.total_debt }}",
            "Tax Rate (%)": "={{ $json.ppn_rate }}",
            "Tax Witheld": "={{ $json.tax_witheld }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Installment Date",
              "displayName": "Installment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payer Name",
              "displayName": "Payer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payer No",
              "displayName": "Payer No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descriptions",
              "displayName": "Descriptions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QTY",
              "displayName": "QTY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remaining Debt",
              "displayName": "Remaining Debt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pajak PPN",
              "displayName": "Pajak PPN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pajak PPh",
              "displayName": "Pajak PPh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax Rate (%)",
              "displayName": "Tax Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax Witheld",
              "displayName": "Tax Witheld",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Debt",
              "displayName": "Total Debt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        832,
        -120
      ],
      "id": "66d9fa48-a032-441c-b2d3-f4b6fe6e0bb8",
      "name": "Receipt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d9R7c6uQ3NDLgcbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE",
          "mode": "list",
          "cachedResultName": "receipt OCR extraction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgsFTPaG0A8Nb3lajhIdYIAnic0ReoBoSi5uaEPHZBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Price": "={{ $json.unit_price }}",
            "QTY": "={{ $json.quantity }}",
            "Total Invoice": "={{ $json.total }}",
            "Tax Witheld": "={{ $json.tax_witheld }}",
            "Due Date": "={{ $('Image Invoice Process').item.json.message.content.due_date }}",
            "Invoice Date": "={{ $('Image Invoice Process').item.json.message.content.invoice_date }}",
            "Invoice Number": "={{ $('Image Invoice Process').item.json.message.content.invoice_number }}",
            "Payment Status": "={{ $('Image Invoice Process').item.json.message.content.payment_status }}",
            "Buyer Name": "={{ $('Image Invoice Process').item.json.message.content.buyer.name }}",
            "Buyer NPWP": "={{ $('Image Invoice Process').item.json.message.content.buyer.npwp }}",
            "Buyer Phone": "={{ $('Image Invoice Process').item.json.message.content.buyer.phone }}",
            "Buyer Email": "={{ $('Image Invoice Process').item.json.message.content.buyer.email }}",
            "Descriptions": "={{ $json.description }}",
            "PPN Amount": "={{ $json.ppn_amount }}",
            "Discount": "={{ $json.discount_amount }}",
            "Disc Rate (%)": "={{ $json.discount_rate }}",
            "PPN Rate (%)": "={{ $json.ppn_rate }}",
            "Notes": "={{ $('Image Invoice Process').item.json.message.content.notes }}",
            "Down Payment": "={{ $json.downpayment_amount }}",
            "DP Rate (%)": "={{ $json.downpayment_rate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Name",
              "displayName": "Buyer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer NPWP",
              "displayName": "Buyer NPWP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Phone",
              "displayName": "Buyer Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Email",
              "displayName": "Buyer Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descriptions",
              "displayName": "Descriptions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QTY",
              "displayName": "QTY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PPN Amount",
              "displayName": "PPN Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PPN Rate (%)",
              "displayName": "PPN Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax Witheld",
              "displayName": "Tax Witheld",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Disc Rate (%)",
              "displayName": "Disc Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Down Payment",
              "displayName": "Down Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DP Rate (%)",
              "displayName": "DP Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Invoice",
              "displayName": "Total Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        832,
        80
      ],
      "id": "bf79b7aa-0dd7-49d3-9eef-8667b1a61ea9",
      "name": "Invoice",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d9R7c6uQ3NDLgcbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73be22c8-5c83-43c8-ae3d-e0d2a04a256d",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "rightValue": "\"INVOICE\", \"invoice\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "805b5aa6-6a0a-420c-a03f-73a9c9c34981",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "rightValue": "\"KWITANSI\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -20
      ],
      "id": "03924f62-d5b9-4cf3-8adc-d4e94fac7ed6",
      "name": "IF Invoice"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        -120
      ],
      "id": "438d1c97-8b94-4ec5-ab01-e585a0f45ea7",
      "name": "Telegram1",
      "webhookId": "543eb188-e540-4352-b162-6bc64e94f862",
      "credentials": {
        "telegramApi": {
          "id": "4NiIfXOZgCa7It6G",
          "name": "Meri Finance Bot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Kamu adalah generator XML e-Faktur Coretax DJP. Dari data {{ $('OCR Agent').item.json.content }} JSON berikut, hasilkan XML sesuai spesifikasi berikut:\n\n<TaxInvoiceBulk xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"TaxInvoice.xsd\">\n<TIN>...</TIN>\n<ListOfTaxInvoice>\n<TaxInvoice>\n<TaxInvoiceDate>...</TaxInvoiceDate>\n...\n<ListOfGoodService>\n<GoodService>\n<Opt>...</Opt>\n<Code>...</Code>\n<Name>...</Name>\n<Unit>...</Unit>\n<Price>...</Price>\n<Qty>...</Qty>\n<TotalDiscount>...</TotalDiscount>\n<TaxBase>...</TaxBase>\n<OtherTaxBase>...</OtherTaxBase>\n<VATRate>...</VATRate>\n<VAT>...</VAT>\n<STLGRate>...</STLGRate>\n<STLG>...</STLG>\n</GoodService>\n</ListOfGoodService>\n</TaxInvoice>\n</ListOfTaxInvoice>\n</TaxInvoiceBulk>\nPastikan semua elemen sesuai urutan/tag di atas. Jika data tidak ada, isi string kosong. Output harus valid XML, tanpa penjelasan apapun.",
              "role": "system"
            },
            {
              "content": "=Data JSON untuk diubah ke XML e-Faktur Coretax:\n{{ $('OCR Agent').item.json.content }}\n\nHasilkan hanya XML."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1460,
        590
      ],
      "id": "96353b50-21e8-4a4b-b4a0-0fad8ccaed54",
      "name": "Generator XML Coretax Pajak",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=kirim respon bahwa data yang didapat dari file yang dikirim oleh {{ $('Telegram Trigger').item.json.message.from.first_name }} dengan format berikut:\n\n**General Info**\n* Nama File : {{ $('Telegram Trigger').item.json.message.document.file_name }}\n* Tipe Dokumen : {{ $('Qualifier PDF').item.json.message.content.document_type }}\n* Nomor {{ $('Qualifier PDF').item.json.message.content.document_type }} : {{ $('Qualifier PDF').item.json.message.content.invoice_number }}\n* Tanggal {{ $('Qualifier PDF').item.json.message.content.document_type }} : {{ $('Qualifier PDF').item.json.message.content.invoice_date }}\n* Jatuh Tempo : {{ $('Qualifier PDF').item.json.message.content.due_date }}\n\n**Dokumen Info**\n* Buyer : {{ $('Qualifier PDF').item.json.message.content.buyer.name }}\n* Buyer Phone : {{ $('Qualifier PDF').item.json.message.content.buyer.phone }}\n* Buyer Email : {{ $('Qualifier PDF').item.json.message.content.buyer.email }}\n* Items : {{ $json.Descriptions }}\n* Total (Rupiah) : {{ $json['Total Invoice'] }} (pakai format nominal rupiah)\n\nsetelah itu infokan jika kamu sudah mengupdate data ini di Google Sheets.\n\n\nTambahkan Notes reminder untuk cek selalu hasil scan secara berkala di Google Spreadsheet.\n\ngunakan bahasa dan emoji yang santai tapi profesional."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1040,
        -320
      ],
      "id": "85ff2511-d47c-4a35-aa4f-b1cc726b3ccc",
      "name": "Send Respond PDF",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=kirim respon bahwa data yang didapat dari file yang dikirim oleh {{ $('Telegram Trigger').item.json.message.from.first_name }} dengan format berikut:\n\n**General Info**\n* Nama File : {{ $('Get Image').item.json.result.file_id }}\n* Tipe Dokumen : {{ $('Image Receipt Process').item.json.message.content.document_type }}\n* Nomor {{ $('Image Receipt Process').item.json.message.content.document_type }} : {{ $('Image Receipt Process').item.json.message.content.invoice_number }}\n* Tanggal {{ $('Image Receipt Process').item.json.message.content.document_type }} : {{ $('Image Receipt Process').item.json.message.content.payment_date }}\n* Jatuh Tempo : {{ $('Image Receipt Process').item.json.message.content.due_date }}\n\n**Dokumen Info**\n* Payer : {{ $('Image Receipt Process').item.json.message.content.payer_name }}\n* Payer Phone : {{ $('Image Receipt Process').item.json.message.content.payee_phone }}\n* Items : {{ $json.Descriptions }}\n* Total (Rupiah) : {{ $('Split Out2').item.json.unit_price }} (pakai format nominal rupiah)\n\nsetelah itu infokan jika kamu sudah mengupdate data ini di Google Sheets.\n\n\nTambahkan Notes reminder untuk cek selalu hasil scan secara berkala di Google Spreadsheet.\n\ngunakan bahasa dan emoji yang santai tapi profesional.\n\nkirim dengan style output yang bisa di parse telegram sehingga tidak merubah text styling saat dibaca user."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1040,
        -120
      ],
      "id": "3384f086-a81a-4425-bd0b-01426beef0cf",
      "name": "Send Respond IMG",
      "credentials": {
        "openAiApi": {
          "id": "DlN91Z4D0fogAlYY",
          "name": "NewACC-n8n"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qualifier PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "OCR Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send Respond PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Agent": {
      "main": [
        [
          {
            "node": "IF Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualifier PDF": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Invoice Process": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Receipt Process": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice": {
      "main": [
        []
      ]
    },
    "IF Invoice": {
      "main": [
        [
          {
            "node": "Image Invoice Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Receipt Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generator XML Coretax Pajak": {
      "main": [
        []
      ]
    },
    "Receipt": {
      "main": [
        [
          {
            "node": "Send Respond IMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Respond PDF": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Respond IMG": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf5d3d01-f11b-4bad-82c3-a84000540bb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccc2811bf81effc25438f8f766b218967254cd1f6a67012ddbc95a81dfa6b288"
  },
  "id": "adPUAb6jJoGrCbO7",
  "tags": []
}